@using WebApplication1.Helpers;
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            @{
                 var currentUser = WebApplication1.Helpers.UserHelper.getUser(User.Identity.GetUserId());
                <li class="hidden-xs hidden-sm">                
                    <a href="/Account/Manage" style="max-height: 50px; padding-top:15%;">
                        <img src="@Url.Content(@currentUser.profileImagePath)" class="img-circle" style="max-height:30px; margin-bottom: 10px;" />
                    </a>
                </li>
                <li>
                    @Html.ActionLink("Hello " + currentUser.firstName + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                    @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                </li>
            }
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
