@model IEnumerable<WebApplication1.Models.TrackingModel.TrackingState>

@{
    ViewBag.Title = "View";
    if (!Request.IsAuthenticated)
    {
        Response.Redirect("~/Account/Login?returnUrl="
            + Request.Url.LocalPath);
    }
}


<h1>Tracking Page</h1>


<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            User Id
        </th>
        <th>
            Time
        </th>
        <th>
            Location
        </th>
        <th>
            Temperature
        </th>
        <th>
            # Alerts
        </th>
    </tr>

    @foreach (var st in Model )
    {
        var style = (st.noAlerts > 30) ? "danger" : "";
     <tr class="@style">
        <td>
            @st.UserId
        </td>
        <td>
            @st.time
        </td>
        <td>
            @st.place
        </td>
         <td>
             @st.temp
         </td>
        <td>
            @st.noAlerts
        </td>
    </tr>
    }


</table>

